<div class="container text-center mt-5 text-white">
    <div class="row">
        <div class="col-md-8 col-sm-12">
                <div class="form-group">
                  <h3 >Add New Task List Title</h3>
                  <input #taskListInput type="text" class="form-control" id="TaskList" aria-describedby="emailHelp" placeholder="Enter Task List">
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <button  class="btn btn-secondary mr-2" routerLink="/">Cancel</button>
            <button (click)="addNewTaskList(taskListInput.value)" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>